<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="mt-5">Success</h1>
        <div class="alert alert-success mt-4">{{ message }}</div>
        {% if user %}
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary mt-4">Logout</button>
        </form>
        {% else %}
        <a href="{% url 'login_registration' %}" class="btn btn-primary mt-4">Back to Login</a>
        {% endif %}
    </div>
</body>

</html>