Web Fundemental/JavaScript/ex/script.js
Web Fundemental/JavaScript/test/script.js
Web Fundemental/JavaScript/test/index.html
Web Fundemental/JavaScript/test/script.js
.gitignore
Python/_python/python_fundamentals/python.py
Python/_python/python_fundamentals/python.py
