<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User List</title>
    {% load static %}
    <!-- linking a css style sheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"></head>
</head>
<body>
    <h1>User List</h1>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>age</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email_address }}</td>
            <td>{{ user.age }}</td>
        </tr>
        {% endfor %}
    </table>
    <h2>Add a New User</h2>
    <form method="POST" action="{% url 'add_user' %}">
        {% csrf_token %}
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name" required><br>
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" id="last_name" required><br>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required><br>
        <label for="age">age:</label>
        <input type="number" name="age" id="age" required><br>
        <input type="submit" value="Add User">
    </form>
</body>
</html>