<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Playground</title>
    <style>
        body {
            text-align: center;
        }

        .col {
            display: inline-block;
            width: 200px;
            height: 200px;
            background-color: var(--color);
            border: 4px solid black;
            margin: 20px;
        }
    </style>
</head>

<body>
    <h1>Welcome!</h1>
    <div class="row">
        {% for i in range(0,times) %}
        <div class="col" style="--color: {{ color }}"></div>
        {%endfor%}
    </div>
</body>

</html>