body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: aquamarine;
}
button{
    width: 80px;
    height: 40px;
    font-size: x-large;
    background-color: blanchedalmond;
    border-radius: 10px;
    cursor: pointer;
}