<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="mt-5">Login and Registration</h1>
        <div class="row">
            <div class="col-md-6">
                <h2>Registration</h2>
                <form method="POST" action="{% url 'home' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="registration_first_name">First Name</label>
                        <input type="text" class="form-control" id="registration_first_name" name="first_name" required>
                    </div>
                    <div class="form-group">
                        <label for="registration_last_name">Last Name</label>
                        <input type="text" class="form-control" id="registration_last_name" name="last_name" required>
                    </div>
                    <div class="form-group">
                        <label for="registration_email">Email</label>
                        <input type="email" class="form-control" id="registration_email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="registration_password">Password</label>
                        <input type="password" class="form-control" id="registration_password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="registration_confirm_password">Confirm Password</label>
                        <input type="password" class="form-control" id="registration_confirm_password"
                            name="confirm_password" required>
                    </div>
                    <div class="form-group">
                        <label for="registration_birthday">Birthday</label>
                        <input type="date" class="form-control" id="registration_birthday" name="birthday">
                    </div>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        {%if "register" in message.tags %}
                        <li class="alert alert-danger mt-4">{{ message }}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <button type="submit" class="btn btn-primary" name="registration_submit">Register</button>
                </form>
            </div>
            <div class="col-md-6">
                <h2>Login</h2>
                <form method="POST" action="{% url 'home' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="login_email">Email</label>
                        <input type="email" class="form-control" id="login_email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="login_password">Password</label>
                        <input type="password" class="form-control" id="login_password" name="password" required>
                    </div>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        {%if "login" in message.tags %}
                        <li class="alert alert-danger mt-4">{{ message }}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <button type="submit" class="btn btn-primary" name="login_submit">Login</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>