<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Delete Author</title>
    {% load static %}
    <!-- linking a css style sheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <h1>Delete Author</h1>
    <p>Are you sure you want to delete {{ author.first_name }} {{ author.last_name }}?</p>
    <form method="post" action="{% url 'delete-author' author_id=author.id %}">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
    <a href="{% url 'authors' %}">Cancel</a>
</body>

</html>
