* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.block {
    height: 50px;
    width: 200px;
    background-color: silver;
    border: 1px dotted black;
}
.shadow{
    box-shadow: 5px 5px 5px #999;
    position: relative;
    top: 5px;
    cursor: pointer;
}