<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ninja Money</title>
    {% load static %}
    <!-- linking a css style sheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"></head>
</head>

<body>
    <div class="container">
        <h1>Ninja Gold</h1>
        <h2>Your Gold: {{ request.session.gold }}</h2>
        <div class="row">
            <div class="col">
                <h3>Farm</h3>
                <p>(earns 10-20 gold)</p>
                <form action="/process_money" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="building" value="farm">
                    <input type="submit" class="btn" value="Find Gold!">
                </form>
            </div>
            <div class="col">
                <h3>Cave</h3>
                <p>(earns 5-10 gold)</p>
                <form action="/process_money" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="building" value="cave">
                    <input type="submit" class="btn" value="Find Gold!">
                </form>
            </div>
            <div class="col">
                <h3>House</h3>
                <p>(earns 2-5 gold)</p>
                <form action="/process_money" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="building" value="house">
                    <input type="submit" class="btn" value="Find Gold!">
                </form>
            </div>
            <div class="col">
                <h3>Casino</h3>
                <p>(earns/loses 0-50 gold)</p>
                <form action="/process_money" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="building" value="casino">
                    <input type="submit" class="btn" value="Find Gold!">
                </form>
            </div>
        </div>
        <div class="row activities">
            <div class="col">
                <h2>Activities:</h2>
                {% for activity in activities %}
                {% if activity.gold >= 0 %}
                <p class="won">{{ activity.message }} ({{ activity.timestamp }})</p>
                {% else %}
                <p class="lost">{{ activity.message }} ({{ activity.timestamp }})</p>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <form action="/reset">
            <input type="submit" class="btn btn-danger" value="Reset">
        </form>
    </div>
</body>

</html>